<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nummerplade %><br>
    <%= f.text_field :license_plate %>
  </div>
  <div class="field">
    <%= f.label :last %><br>
    <%= f.text_field :cargo %>
  </div>
  <div class="field">
    <%= f.label :chauffør %><br>
    <%= f.text_field :chauffeur%>
  </div>
  <div class="field">
    <%= f.label :start_adresse %><br>
    <%= f.text_field :start_address %>
  </div>
  <div class="field">
    <%= f.label :slut_adress %><br>
    <%= f.text_field :end_address %>
  </div>
  <div class="field">
    <%= f.label :tur_start %><br>
    <%= select_datetime Date.today, :prefix => :start_timestamp %>
  </div>
  <div class="field">
    <%= f.label :tur_slut %><br>
    <%= select_datetime Date.today, :prefix => :end_timestamp %>
  </div>
  <div class="field">
    <%= f.label 'kørt_distance (km)' %><br>
    <%= f.text_field :distance%>
  </div>
  <div class="field">
    <%= f.label 'Vægt (kg)' %><br>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :kunde %><br>
    <%= f.text_field :costumer %>
  </div>
  <div class="field">
    <%= f.label :kommentarer %><br>
    <%= f.text_area :start_comments %>
  </div>
  <div class="actions">
    <div class="row">
      <div class="col-md-6">
        <%= link_to "Annuller", '/trips' , :class => 'btn btn-danger' %>
      </div>
      <div class="col-md-6">
        <%= f.submit 'Gem Tur', :class => 'btn btn-success float-right'%>
      </div>
    </div>
  </div>
<% end %>
