<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
    <%= f.label :license_plate %><br>
    <%= f.text_field :license_plate %>
  </div>
  <div class="field">
    <%= f.label :device_id %><br>
    <%= f.text_field :device_id %>
  </div>
  <div class="field">
    <%= f.label :cargo %><br>
    <%= f.text_field :cargo %>
  </div>
  <div class="field">
    <%= f.label :start_location %><br>
    <%= f.text_field :start_location %>
  </div>
  <div class="field">
    <%= f.label :start_address %><br>
    <%= f.text_field :start_address %>
  </div>
  <div class="field">
    <%= f.label :end_location %><br>
    <%= f.text_field :end_location %>
  </div>
  <div class="field">
    <%= f.label :end_address %><br>
    <%= f.text_field :end_address %>
  </div>
  <div class="field">
    <%= f.label :start_timestamp %><br>
    <%= f.text_field :start_timestamp %>
  </div>
  <div class="field">
    <%= f.label :end_timestamp %><br>
    <%= f.text_field :end_timestamp %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :costumer %><br>
    <%= f.text_field :costumer %>
  </div>
  <div class="field">
    <%= f.label :start_comments %><br>
    <%= f.text_field :start_comments %>
  </div>
  <div class="field">
    <%= f.label :end_comments %><br>
    <%= f.text_field :end_comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
