<div ng-trips>
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-3">
      <h1 class="no-margin">Ture</h1>
    </div>
    
    <%= form_tag('/trips/time_search', :method => :get, :id=>'trips_time_search') do %>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <label for="from_time">Fra:</label>
        <%= text_field :from_time, '', :class=>"datepicker form-control inline", :placeholder => params[:from_time]%>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <label for="to_time">Til:</label>
        <%= text_field :to_time, '', :class=>"datepicker form-control inline", :placeholder => params[:to_time] %>
      </div>
      <div class="col-md-1 col-sm-1 col-xs-1 no-padding">
        <%= submit_tag "Go", :class => 'btn btn-info' %>
      </div>
    <% end %>
  </div>

  
  <div class="row">
    <%= render :partial => 'shared/search', :locals => {:placeholder => 'Søg efter en tur'} %>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <%= link_to '', trips_tripstable_pdf_path(:trips_ids=>get_ids_from_obj(@trips)), :class =>"btn icon-print", :target => '_blank' %>
      
      <%= link_to 'Ny Tur', new_trip_path, :class =>"btn btn-success float-right" %>
    </div>
  </div>
  
  <% if @trips.count == 0 && !params.has_key?(:search) %>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4> Du har ingen gemte ture endnu. For at registrere en afholdt tur, klik <%= link_to 'her', new_trip_path %> </h4>
      </div>
    </div>
  <% elsif @trips.count == 0 && params.has_key?(:search) %>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4> Din søgning "<%= params[:search].first %>" matchede desværre ingen af dine ture </h4>
      </div>
    </div>
  <% else %>
    <div ng-trips-list>
      <div class="row" >
    	  <div class="col-md-12 col-sm-12 col-xs-12">
    	    <a href="/trips" class="float-right">Vis alle</a>
          <table id="trips-table" class="table table-hover table-bordered" ng-trip-list>
            <thead>
              <tr>
                <th><%= sortable 'Nummer Plade', 'license_plate' %></th>
                <th><%= sortable 'Last', 'cargo' %></th>
                <th><%= sortable 'Start Adresse', 'start_address' %></th>
                <th><%= sortable 'Slut Adresse', 'end_address' %></th>
                <th><%= sortable 'Tur Start','start_timestamp' %></th>
                <th><%= sortable 'Tur Slut', 'end_timestamp' %></th>
                <th>Tid</th>
                <th colspan="2"><%= sortable 'Kunde', 'costumer' %></th>
                <th>Vælg <input type="checkbox" name="trip_all_checkbox" ng-click="checkOrUncheckAllTrips($event)"></th>
              </tr>
            </thead>

            <tbody>
              <% @trips.each do |trip| %>
                <tr id="<%= trip.id %>" ng-click="selectTableRow($event,'<%= trip.id %>')" class="hand-cursor" ng-class="{true:'active', false:'nottrue'}[selectedTripId==<%= trip.id.to_s.to_json %>]">
        				<td><%= trip.license_plate %></td>
						<td><%= trip.cargo %></td>
						<% if param_undefined(trip.start_address) %>
						  <td ng-get-address lat="<%= trip.start_location[0] %>" lon="<%= trip.start_location[1] %>" startorend="'start'">{{formatted_address}}</td>
						<% else %>
						  <td><%= trip.start_address %></td>
					  <% end %>
						<% if param_undefined(trip.end_address) %>
						  <td ng-get-address lat="<%= trip.end_location[0] %>" lon="<%= trip.end_location[1] %>" startorend="'end'">{{formatted_address}}</td>
						<% else %>
						  <td><%= trip.end_address %></td>
					  <% end %>
						<td><%= format_date(trip.start_timestamp) %></td>
						<td><%= format_date(trip.end_timestamp) %></td>
            <td><%= diff_timestamps_in_secs(trip.start_timestamp,trip.end_timestamp) %></td>
    			  <td colspan="2"><%= trip.costumer %></td>
            <td><input type="checkbox" name="trip_checkbox" value="<%=trip.id%>"></td>
    						</tr>
    						<tr class="trip-list-details" ng-trips-list-item tripid="<%= trip.id.to_s.to_json %>" ng-show="showDetails">
                  <td colspan="3">
                    <div class='trip-table-map' ng-static-map startlat="<%= trip.start_location[0] %>" startlon="<%= trip.start_location[1] %>" endlat="<%= trip.end_location[0] %>" endlon="<%= trip.end_location[1]  %>" startlabel="<%= trip.start_address.to_json  %>" endlabel="<%= trip.end_address.to_json %>" >
                      <div class="map-container" width="400px" height="250px"></div></div> 
                  </td>
                  <td colspan="4">
                  	<div class="more-margin top double bold large-font driver">Nummerplade : <span class="no-bold"><%= trip.license_plate %></span></div> 
                  	<div class="more-margin top double bold large-font distance">Distance : 
                  	  <% if param_undefined(trip.distance) %>
                  	    <span class='no-bold' ng-get-distance startlat="<%= trip.start_location[0] %>" startlon="<%= trip.start_location[1] %>" endlat="<%= trip.end_location[0] %>" endlon="<%= trip.end_location[1]  %>"> {{distance}} km</span>
                  	  <% else %>
                  	    <span class="no-bold"><%= trip.distance %> km</span>
                  	  <% end %>
                  	</div>
                	  <!--<div class="more-margin top double bold large-font weight">Vægt : 
                	    <span class="no-bold">
                	      <% if !param_undefined(trip.weight)%>
                	        <%= trip.weight %> kg
                	      <% end %>
                	    </span>
                	  </div>-->
                	  <div class="more-margin top double bold large-font comments">Kommentarer skrevet i starten af turen : 
                	    <div class="no-bold more-margin left quadruple">
                	      <% if !param_undefined(trip.start_comments)%>
                	        <p class="ellipsis"><%= trip.start_comments %></p>
                	      <% end %>
                	    </div>
                	  </div>
                  	
                	  <div class="more-margin top double bold large-font comments">Kommentarer skrevet i slutningen af turen : 
                	    <div class="no-bold more-margin left quadruple">
                	      <% if !param_undefined(trip.end_comments) %>
                	        <p class="ellipsis"><%= trip.end_comments %></p>
                	      <% end %>
                	    </div>
                	  </div>
        					</td>
        					<td colspan="2" class="force-bottom-align">
                    <%= link_to 'Rediger', 'trips/'+trip.id, :class => 'btn btn-info float-right'%>
        					</td>
          			</tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    
      <div class="row">
    	  <div class="col-md-2 col-sm-4 col-xs-6 float-right">
    	    <button class="btn btn-danger float-right" ng-click="deleteSelectedTrips()">Slet valgte ture</button>
    	  </div>
        <!-- <div class="col-md-2 col-sm-4 col-xs-6 float-right">
          <button class="btn btn-success float-right" ng-click="printSelectedTrips()">Print faktura af valgte ture</button>
        </div> -->
      </div>
    
    </div>
  

  
    <div class="row">
  	  <div class="col-md-12">
  	    <div class="center">
          <%= paginate @trips %>
  	    </div>
  	  </div>
  	</div>
  <% end %>	
</div>
