<p id="notice"><%= notice %></p>

<% for attribute in @trip.attributes.keys %>
  <p><%= attribute.humanize %> <%= @trip.attributes[attribute].to_s %></p>
<% end %>

<div class="row">
  <div class="col-md-6">
    <%= link_to 'Tilbage', trips_path,:class=>'btn btn-danger'  %>
  </div>
  <div class="col-md-6">
   <%= link_to 'Rediger', edit_trip_path(@trip), :class=>'btn btn-info float-right' %>
  </div>
</div>



