<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-8 col-sm-8 col-xs-6">
      <%= f.text_field :company_name, :class=>"form-control", :placeholder => "Firma Navn", :value=>user_property('company_name') %>
       <%= f.text_field :company_street, :class=>"form-control", :placeholder => "vej og husnummer", :value=>user_property('company_street') %>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <div class="bold"><span class="col-md-2 col-sm-4 no-padding">Tlf:</span><span class="col-md-10 col-sm-8 no-padding"> <%= f.text_field :company_phone, :class=>"form-control", :placeholder => "Tlf", :value=>user_property('phone') %></span>
      </div>
      
      <div class="bold"><span class="col-md-2 col-sm-4 no-padding">Mobiltlf: </span><span class="col-md-10 col-sm-8 no-padding"><%= f.text_field :company_phone, :class=>"form-control", :placeholder => "Mobil Tlf", :value=>user_property('phone_mobile') %></span>
      </div>
      
      <div class="bold"><span class="col-md-2 col-sm-4 no-padding">CVR: </span><span class="col-md-10 col-sm-8 no-padding"><%= f.text_field :company_phone, :class=>"form-control", :placeholder => "CVR", :value=>user_property('cvr') %></span>
      </div>
      
      <div class="bold"><span class="col-md-2 col-sm-4 no-padding">Bank: </span><span class="col-md-3 col-sm-4 no-padding"><%= f.text_field :company_phone, :class=>"form-control", :placeholder => "Reg", :value=>user_property('bank_reg_nr') %></span><span class="col-md-7 col-sm-4 no-padding"> <%= f.text_field :company_phone, :class=>"form-control", :placeholder => "Reg", :value=>user_property('bank_account_nr') %></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <h5>Køber:</h5>
      <%= f.text_field :costumer_name, :class=>"form-control", :placeholder => "Kunde Navn" %>
      <%= f.text_field :costumer_contact_name, :class=>"form-control", :placeholder => "ATT" %>
      <%= f.text_field :costumer_address_street, :class=>"form-control", :placeholder => "Vej og husnummer" %>
      <%= f.text_field :costumer_postal_code, :class=>"form-control", :placeholder => "Post Nr" %>
      <%= f.text_field :costumer_city, :class=>"form-control", :placeholder => "By" %>
    </div>
    
    <div class="col-md-4 col-sm-6 col-xs-12 float-right">
      <h4>FAKTURA</h4>
      <%= f.number_field :invoice_number, :class=>"form-control", :placeholder => "xxxx"   %>
      <%= select_datetime Date.today, :prefix => :timestamp, :class=>"form-control"  %>
      <%= select_datetime Date.today, :prefix => :due_date%>
    </div>
  

      <!-- <div class="field">
        <%= f.label :fakturerings_dato %><br>
        <%= select_datetime Date.today, :prefix => :timestamp, :class=>"form-control"  %>
      </div>
      <div class="field">
        <%= f.label :pris %><br>
        <%= f.text_field :price, :class=>"form-control", :placeholder => "Pris" %>
      </div>
      <div class="field">
        <%= f.label :kunde %><br>
        <%= f.text_field :costumer, :class=>"form-control", :placeholder => "Kunde" %>
      </div>
      <div class="field">
        <%= f.label :beskrivelse %><br>
        <%= f.text_field :description, :class=>"form-control", :placeholder => "Beskrivelse" %>
      </div>
      <div class="field">
        <%= f.label :betales_inden %><br>
        <%= select_datetime Date.today, :prefix => :due_date%>
      </div>
      <div class="field">
        <%= f.label :kommentarer %><br>
        <%= f.text_field :commentary, :class=>"form-control", :placeholder => "Kommentarer" %>
      </div>
      <div class="field">
        <%= f.label :faktura_nummer %><br>
        <%= f.number_field :invoice_number, :class=>"form-control"  %>
      </div>
      <div class="field">
        <%= f.label :moms %><br>
        <%= f.number_field :sales_taxes, :class=>"form-control"  %>
      </div>
      <div class="field">
        <%= f.label :bank %><br>
        <%= f.text_field :sales_taxes, :class=>"form-control", :value=>user_property('bank')  %>
      </div> -->
    </div>
  </div>
  <div class="actions">
    <div class="row">
      <div class="col-md-6">
        <%= link_to 'Annuller', invoices_path, :class =>"btn btn-primary" %>
      </div>
      <div class="col-md-6">
        <%= f.submit 'Gem Fakura', :class => 'btn btn-success float-right'%>
      </div>
    </div>
  </div>
<% end %>
