<%= @invoices.each do |invoice| %>
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h1>Faktura fra <%= current_user.username %></h1>
    </div>
    <div class="col-md-6 col-sm-6">
      <p class="float-right">Faktura Nr: <%= invoice.invoice_number %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <table id="invoices-table" class="table table-striped table-bordered">
        <thead>
          <tr>
            <td class="bold">Dato</td>
            <td><%= invoice.timestamp %></td>
          </tr>
        </thead>
        </tbody>
          <tr>
            <td class="bold">Kunde</td>
            <td><%= invoice.costumer %></td>
          </tr>
          <tr>
            <td class="bold">Betales Senest</td>
            <td><%= invoice.due_date %></td>
          </tr>
          <tr>
            <td class="bold">CVR</td>
            <td><%= invoice.cvr %></td>
          </tr>
          <tr>
            <td class="bold">Beskrivelse</td>
            <td><%= invoice.description %></td>
          </tr>
          <tr>
            <td class="bold">Kommentarer</td>
            <td><%= invoice.commentary %></td>
          </tr>
          <tr>
            <td class="bold">Moms</td>
            <td><%= invoice.sales_taxes %></td>
          </tr>
          <tr>
            <td class="bold">Pris</td>
            <td><%= invoice.price %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>