<div class="row">
  <div class="col-md-2 col-sm-2 col-xs-2">
    <p class="bold">Email:</p>
  </div>
  <div class="col-md-4 col-sm-2 col-xs-2">
    <p><%= @user.email %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-sm-2 col-xs-2">
    <p class="bold">Brugernavn</p>
  </div>
  <div class="col-md-4 col-sm-2 col-xs-2">
    <p><%= @user.username %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-sm-2 col-xs-2">
    <p class="bold">Firma oplysninger</p>
  </div>
  <div class="col-md-4 col-sm-2 col-xs-2">
    <p><%= @user.company_name %></p>
    <p>CVR: <%= @user.cvr %></p>
    <p><%= @user.company_street %></p>
    <% if !!@user.company_postal_code  && !!@user.company_city %>
    	<p><%= @user.company_postal_code + ' ' + @user.company_city %></p>
    <% end %>
    <p>Tlf: <%= @user.phone %></p>
    <p>Mobil: <%= @user.phone_mobile %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-sm-2 col-xs-2">
    <p class="bold">Bank oplysninger</p>
  </div>
  <div class="col-md-4 col-sm-2 col-xs-2">
    <p>Bank: <%= @user.bank %></p>
    <p>Reg: <%= @user.bank_reg_nr %></p>
    <p>Konto: <%= @user.bank_account_nr %></p>
  </div>
</div>

<div class="form-actions">
  
<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-4">
    <%= link_to "Tilbage", '/', :class => 'btn btn-info'  %>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4">
    <%= link_to "Slet min Profil", @user, :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-danger' %>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4">
    <%= link_to "Rediger", edit_user_path(@user), :class => 'btn btn-primary' %>
  </div>
</div>
