
<label class="">Email:</label>
<p><%= @user.email %></p>
<label class="">Username:</label>
<p><%= @user.username %></p>

<div class="form-actions">
<%= link_to "Tilbage", '/', :class => 'btn btn-info'  %>
<%= link_to "Rediger", edit_user_path(@user), :class => 'btn btn-primary' %>
<%= link_to "Slet min Profil", @user, :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-danger' %>
</div>
