
<div class="form-signin">

<h2 class="form-signin-heading">Log ind</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :burgernavn %><br />
  <%= f.text_field :login, :class => 'form-control', :autofocus => true, :placeholder => "Brugernavn eller Email" %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, :class => 'form-control', :placeholder => "Password" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me, :class => 'checkbox inline '%> <%= f.label :husk_mig, :class=>"inline" %></div>
  <% end -%>

  <div><%= f.submit "Log ind", :class => 'btn btn-lg btn-primary btn-block' %></div>
<% end %>
</div>