
<label class="">Email:</label>
<p><%= @user.email %></p>
<label class="">Username:</label>
<p><%= @user.username %></p>

<div class="form-actions">
<%= link_to "Back", '/', :class => 'btn'  %>
<%= link_to "Edit", "/user/"+@user.id+"/edit", :class => 'btn' %>
<%= link_to "Delete", "/user/"+@user.id, :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn' %>
</div>
