<h1>Listing mobile_devices</h1>

<table>
  <thead>
    <tr>
      <th>Bruger</th>
      <th>ID</th>
      <th>Access Token</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mobile_devices.each do |mobile_device| %>
      <tr>
        <td><%= username(mobile_device) %></td>
        <td><%= mobile_device.device_id%></td>
        <td><%= mobile_device.access_token%></td>
        <td><%= link_to 'Show', mobile_device, :class =>"btn btn-info btn-xs" %></td>
        <td><%= link_to 'Edit', edit_mobile_device_path(mobile_device), :class =>"btn btn-warning btn-xs" %></td>
        <td><%= link_to 'Destroy', mobile_device, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mobile device', new_mobile_device_path, :class => 'btn btn-primary' %>
