<div class="container">
	<h1>Users</h1>
	<table class="table table-striped">
	 <thead>
	  <tr>
	    <th>ID</th>
	        <th>
	      <%= t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email")) %>
	    </th>
	        <th>Created at</th>
	    <th>Actions</th>
	  </tr>
	  </thead>
	  <tbody>
	  <% @users.each do |user| -%>
	   <tr>
	    <td><%= user.id %></td>
	        <td><%= link_to user.email, admin_user_path(user) %>
	    </td>
	       <td><%= user.remember_created_at %></td>
	    <td>
	      <%= link_to "Show", admin_user_path(user) %>
	      <%= link_to "Edit", edit_admin_user_path(user) %>
	      <%= link_to "Destroy", admin_user_path(user), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
	    </td>
	    </tr>
	    <% end -%>
	   </tbody>
	</table>
	
	<%= link_to "Opret Ny Vognmand", new_admin_user_path, :class => 'btn btn-primary' %>
	<%= link_to "Opret Ny Mobil Enhed", '/mobile_devices/new', :class => 'btn btn-primary' %>

</div>